@import url("variables.css");

body {
  background: var(--tertiary-color);
}

footer {
  display: flex;
  justify-content: end;
  gap: var(--gap);
  color: var(--secundary-color);
  margin-right: 5px;
}

header {
  display: grid;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: var(--primary-font);
  color: var(--secundary-color);
  font-size: 50px;
}

li {
  list-style-type: none;
}

textarea {
  border: 1px solid #ccc;
  padding: var(--gap);
  outline: none;
  border-radius: var(--radius);
  resize: none;
  width: 350px;
  font-family: var(--primary-font);
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.cards-containers {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards {
  margin-top: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
  border: solid;
  border-color: var(--border-color);
  border-radius: var(--radius);
  width: var(--width-space);
  height: 210px;
}

.card-section {
  display: grid;
  width: var(--width-space);
  height: 180px;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
}

.flashcard {
  margin-top: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
  border: solid;
  border-color: var(--border-color);
  border-radius: var(--radius);
  width: var(--width-space);
  height: 210px;
}

.filds {
  font-family: var(--primary-font);
  color: var(--primary-color);
}

.icon-button {
  color: var(--secundary-color);
  margin-right: var(--gap);
}
.icon-button:hover {
  color: var(--primary-color);
}

.header-section {
  display: flex;
  justify-content: end;
}

.page {
  font-family: var(--primary-font);
  color: var(--title-text-color);
}

.title {
  font-family: var(--primary-font);
  font-size: 50px;
  font-weight: 200;
  color: var(--title-color);
  margin: 0px;
  margin-left: var(--gap);
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-label {
  font-family: var(--primary-font);
}

#add-new-cards {
  font-family: var(--primary-font);
}

#add-new-cards,
#show-answer,
#save-button {
  font-family: var(--primary-font);
  width: 250px;
  background: var(--primary-color);
  border-color: var(--secundary-color);
  border-radius: var(--radius);
  color: var(--strong-color-text);
}

#flashcards {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}
